/* options */
section{
  margin-bottom: 40px;
}
/* options end */

header{
  background-color: #00467A;
}
header p{
  display: inline-block;
  margin-right: 10%;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
header div.lang_img{
  float: right;
}
header div.lang_img img{
  width: 30px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
nav .dropdown{
  display: inline-block;
}
nav ul{
  display: inline-block;
}
nav ul li{
  display: inline-block;
  text-decoration: none;
}
nav button.lang{
  border: none;
  background-color: none;
}
nav .dropdown-menu{
  background-color: none;
}
nav .icon{
  float: right;
}
nav .icon i{
  margin-left: 10px;
}




