/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.caption_cart{
  padding: 20px 0;
}
.caption_cart h4{
  font-size: 16px;
}
.caption_cart p{
  font-size: 12px;
}
.btn_in_detail{
  font-size: 10px;
  width: 80%;
  padding: 6px 10px;
}
.btn_in_detail:hover{
    font-size: 10px;
  width: 80%;
  padding: 6px 10px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .icon{
    display:none!important;
  }
  header p {
    margin-right: 2%;
}
.corusel_top_img{
  height: 60%;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 header p {
    display : none;
}
/*.carousel-inner .carousel-item{
  height: 60vh;
}*/

}

@media only screen and (max-width : 576px) {
section.write form{
  margin-left: 7%;
}
footer{
  display: none;
}
/*.carousel-inner .carousel-item{
  height: 50vh;
}*/

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
footer{
  display: none;
}
section.partners{
  margin-bottom: 0;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}