/*begin blog list*/
@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.eot');
    src: url('../fonts/GothamMedium.eot') format('embedded-opentype'),
         url('../fonts/GothamMedium.woff2') format('woff2'),
         url('../fonts/GothamMedium.woff') format('woff'),
         url('../fonts/GothamMedium.ttf') format('truetype'),
         url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
}
@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot') format('embedded-opentype'),
         url('../fonts/GothamBold.woff2') format('woff2'),
         url('../fonts/GothamBold.woff') format('woff'),
         url('../fonts/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-BlackItalic.eot');
    src: local('../fonts/Formular Black Italic'), local('Formular-BlackItalic'),
        url('../fonts/Formular-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-BlackItalic.woff2') format('woff2'),
        url('../fonts/Formular-BlackItalic.woff') format('woff'),
        url('../fonts/Formular-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-MediumItalic.eot');
    src: local('../fonts/Formular Medium Italic'), local('Formular-MediumItalic'),
        url('../fonts/Formular-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-MediumItalic.woff2') format('woff2'),
        url('../fonts/Formular-MediumItalic.woff') format('woff'),
        url('../fonts/Formular-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-Italic.eot');
    src: local('../fonts/Formular Italic'), local('Formular-Italic'),
        url('../fonts/Formular-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Italic.woff2') format('woff2'),
        url('../fonts/Formular-Italic.woff') format('woff'),
        url('../fonts/Formular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-LightItalic.eot');
    src: local('../fonts/Formular Light Italic'), local('../fonts/Formular-LightItalic'),
        url('../fonts/Formular-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-LightItalic.woff2') format('woff2'),
        url('../fonts/Formular-LightItalic.woff') format('woff'),
        url('../fonts/Formular-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular-Black.eot');
    src: local('../fonts/Formular Black'), local('../fonts/Formular-Black'),
        url('../fonts/Formular-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Black.woff2') format('woff2'),
        url('../fonts/Formular-Black.woff') format('woff'),
        url('../fonts/Formular-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-Light.eot');
    src: local('../fonts/Formular Light'), local('../fonts/Formular-Light'),
        url('../fonts/Formular-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Light.woff2') format('woff2'),
        url('../fonts/Formular-Light.woff') format('woff'),
        url('../fonts/Formular-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular.eot');
    src: local('../fonts/Formular'),
        url('../fonts/Formular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular.woff2') format('woff2'),
        url('../fonts/Formular.woff') format('woff'),
        url('../fonts/Formular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-Medium.eot');
    src: local('../fonts/Formular Medium'), local('../fonts/Formular-Medium'),
        url('../fonts/Formular-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Medium.woff2') format('woff2'),
        url('../fonts/Formular-Medium.woff') format('woff'),
        url('../fonts/Formular-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-BoldItalic.eot');
    src: local('../fonts/Formular Bold Italic'), local('../fonts/Formular-BoldItalic'),
        url('../fonts/Formular-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-BoldItalic.woff2') format('woff2'),
        url('../fonts/Formular-BoldItalic.woff') format('woff'),
        url('../fonts/Formular-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('../fonts/Formular-Bold.eot');
    src: local('../fonts/Formular Bold'), local('../fonts/Formular-Bold'),
        url('../fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Bold.woff2') format('woff2'),
        url('../fonts/Formular-Bold.woff') format('woff'),
        url('../fonts/Formular-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: "Formular","Arial", sans-serif;
    color: #25326D;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Formular","Arial", sans-serif;
    color: #25326D;
}
p{
    color: #25326D;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #25326D;
    transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.breadcrumb_area_two {
    position: relative;
    z-index: 1;
    padding: 160px 0px 80px;
    background-size: cover !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.breadcrumb_content h1 {
    font-size: 43px;
    line-height: 51px;
    font-weight: 700px;
    color: #fff;
    margin-top: 40px;
}
.breadcrumb_content ul li {
    font-size: 20px;
    font-family: "Formular","Arial", sans-serif;
    font-weight: 400;
    color: #fff;
}
.breadcrumb_content ul li a {
    color: #fff;
    position: relative;
}
/*.breadcrumb_content ul li a:after {
    content: ">";
    display: inline-block;
    top: 0;
    right: 0;
    margin: 0px 5px;
    border-bottom: none;
}*/

.sec_pad {
    padding: 100px 0px;
}

.blog_inner {
    padding-right: 20px;
}
.b_inner {
    padding: 0px 30px;
    margin-top: -70px;
    position: relative;
}
.blog_list_content {
    background: #fff;
    padding: 30px 50px;
    margin-bottom: 30px;
}
.blog_list_content .b_post_info {
    display: flex;
}
.blog_list_content .b_post_info .p_date {
    margin-left: 30px;
}
.p_date {
    font-size: 14px;
    color: #005fff;
}
.read_btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    display: inline-block;
    color: #777777;
    transition: all 0.2s linear;
}
.read_btn i {
    vertical-align: middle;
}
.comment_btn {
    font-size: 14px;
    color: #9d9d9d;
    line-height: 18px;
}
.widget + .widget {
    margin-top: 56px;
}
.sidebar_title {
    font-size: 24px;
    line-height: 26px;
    color: #101010;
    margin-bottom: 30px;
}
.widget_post .post_item img {
    margin-right: 20px;
}
.widget_post .post_item .media-body h5 {
    font-size: 16px;
    line-height: 22px;
    color: #101010;
    font-weight: 600;
    margin-bottom: 0;
    transition: color 0.2s linear;
}

.widget_post .post_item .media-body .p_date img {
    margin-right: 0;
}
.p_date img {
    padding-right: 5px;
}
.widget_post .category{
    color: #777777;
    font-weight: 600;
    font-size: 14px;
}
.pagination li + li{
    margin-left: 34px;
}
.pagination li a{
    font-size: 18px;
    font-weight: 500;
    color: #777777;
    position: relative;
    transition: color 0.3s linear;

}
.pagination li a:before {
    content: "";
    height: 2px;
    background: #7a51ed;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 0.3s linear;
}
.pagination li a:hover, .pagination li.current {
    color: #7a51ed;
}
.pagination li a:hover:before, .pagination li.current:before {
    width: 100%;
}
/*end blog list*/


/*begin header*/
header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    transition: all 0.2s linear;
}
header .navbar {
    padding: 0px;
}
header .navbar .navbar-brand {
    margin-right: 15px;
    padding: 0px;
}

.header_area_one .menu_left {
    display: flex;
    align-items: center;
}
.header_area_one .menu_left .logo {
    display: inline-block;
    margin-right: 15px;
}
.header_area_one .menu_right {
    display: flex;
    justify-content: flex-end;
}

/*.burger_menu {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
}*/
.burger_menu .text {
    text-transform: uppercase;
    position: relative;
    transition: all 0.6s linear, color 0.1s;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    line-height: 16px;
    padding-right: 15px;
}
.burger_menu .text:before {
    content: attr(data-text);
    position: absolute;
    top: 1.5px;
    transform: translateY(-100%);
    left: 0;
    text-transform: uppercase;
    transition: all 0.4s linear;
}
.burger_menu .text:after {
    content: attr(data-text);
    position: relative;
    top: 1.5px;
    left: 0;
    text-transform: uppercase;
    transition: all 0.4s linear;
}
.burger_menu .dot_icon {
    display: flex;
    flex-wrap: wrap;
    width: 24px;
    height: 24px;
    margin: -2px;
}
.burger_menu .dot_icon .dot {
    width: 4px;
    height: 4px;
    background: #fff;
    margin: 2px;
    transition: all 0.4s linear;
}
.burger_menu.burger_menu_two .text {
    color: #101010;
}
.burger_menu.burger_menu_two .dot_icon .dot {
    background: #101010;
}
.burger_menu img {
    margin-left: 15px;
}
.burger_menu:hover .text:before {
    transform: translateY(0);
}
.burger_menu:hover .text:after {
    top: 20px;
}
.burger_menu:hover .dot_icon .dot:nth-child(odd) {
    transform: translate(8px, 8px);
}
.burger_menu:hover .dot_icon .dot:nth-child(5) {
    opacity: 0;
}

.h_contact_info a {
    font-size: 12px;
    line-height: 13px;
    display: inline-block;
    letter-spacing: 1.3px;
    font-weight: 500;
    color: #fff;
    position: relative;
    margin-left: 25px;
}
.h_contact_info a + a:before {
    content: "/";
    position: relative;
    color: rgba(255, 255, 255, 0.4);
    margin-right: 25px;
}

.m_p {
    padding: 50px 25px;
}

.logo_two img + img {
    display: none;
}

/*============ header_area_one css ============*/
.navbar .side_menu {
    margin-left: 40px;
}
.navbar .side_menu img + img {
    display: none;
}

.menu > .nav-item > .nav-link {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: #fff;
    text-transform: uppercase;
    padding: 0px;
    line-height: 30px;
    position: relative;
}
.menu > .nav-item > .nav-link:after {
    display: none;
}
.menu > .nav-item > .nav-link:before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: all 0.2s linear;
    transform: scale(0);
}
.menu > .nav-item.submenu .dropdown-menu {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    right: 0;
    left: auto;
    min-width: 150px;
    padding: 18px 0px;
    background: #fff;
    box-shadow: -1px 2px 19px 3px rgba(14, 0, 40, 0.05);
    z-index: 3;
}
@media (min-width: 992px) {
    .menu > .nav-item.submenu .dropdown-menu {
        transform: translateY(20px);
        transition: all 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
        display: block;
    }
}
.menu > .nav-item.submenu .dropdown-menu .nav-item {
    display: block;
    width: 100%;
    margin-right: 0px;
    padding: 8px 30px;
    position: relative;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
    padding: 0px;
    white-space: nowrap;
    font: 400 13px/20px "Poppins", sans-serif;
    color: #000;
    transition: color 0.2s linear;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link:after {
    display: none;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link:hover {
    color: #7a51ed;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item.active .nav-link {
    color: #7a51ed;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
    transition: transform 0.3s ease-in;
    padding: 0px;
}
@media (min-width: 992px) {
    .menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
        position: absolute;
        left: 100%;
        top: -25px;
        opacity: 0;
        display: block;
        visibility: hidden;
        transform: translateY(20px);
        transition: all 0.3s ease-in;
    }
}
.menu > .nav-item.submenu .dropdown-menu .nav-item + .nav-item {
    margin-left: 0;
}
.menu > .nav-item.active .nav-link:before {
    transform: scale(1);
}
.menu > .nav-item:hover .nav-link:before {
    transform: scale(1);
}
@media (min-width: 992px) {
    .menu > .nav-item:hover .dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
@media (min-width: 992px) and (min-width: 992px) {
    .menu > .nav-item:hover .dropdown-menu > .nav-item:hover .dropdown-menu {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }
}
.menu > .nav-item + .nav-item {
   /* margin-left: 40px;*/
}

.content-black .logo_two img {
    display: none;
}
.content-black .logo_two img + img {
    display: block;
}
.content-black .h_contact_info a {
    color: #101010;
}
.content-black .h_contact_info a + a:before {
    color: #101010;
}
.content-black .menu > .nav-item > .nav-link {
    color: #101010;
}
.content-black .menu > .nav-item > .nav-link:before {
   /* background: #101010;*/
}
.content-black .menu_toggle .hamburger-cross span, .content-black .menu_toggle .hamburger span {
    background: #101010;
}

/*=========== hamburger_menu_wrepper css ===========*/
.hamburger_menu_wrepper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    transition: all 0.4s linear;
    opacity: 0;
    visibility: hidden;
    padding: 50px;
    display: flex;
    align-items: center;
}
.hamburger_menu_wrepper.mySideBar {
    opacity: 1;
    visibility: visible;
}
.hamburger_menu_wrepper.mySideBar .offcanfas_menu > li {
    opacity: 1;
    animation: fadeInUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}
.hamburger_menu_wrepper.mySideBar .header_footer {
    opacity: 1;
    animation: fadeInUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}
.hamburger_menu_wrepper .animation-box {
    width: 100%;
}
.hamburger_menu_wrepper .menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62%;
    margin: 0 auto;
    max-height: 310px;
}
.hamburger_menu_wrepper .top_menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    padding: 50px 27px 0px 45px;
    top: 0px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
    width: 100%;
}
.hamburger_menu_wrepper .top_menu i {
    font-size: 50px;
    line-height: 30px;
}
.hamburger_menu_wrepper .top_menu .text {
    padding-right: 0px;
}

.navbar .offcanfas_menu {
    margin: 0px;
    text-align: center;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
}
.navbar .offcanfas_menu > .nav-item {
    padding: 0px;
    margin: 0px;
    opacity: 0;
    animation: fadeOut 0.4s both;
    display: inline-block;
}
.navbar .offcanfas_menu > .nav-item:not(:last-child) {
    margin-bottom: 20px;
}
.navbar .offcanfas_menu > .nav-item .nav-link {
    font-size: 3rem;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    text-transform: uppercase;
}
.navbar .offcanfas_menu > .nav-item.submenu .nav-link {
    padding-right: 25px;
    margin-bottom: 10px;
}
.navbar .offcanfas_menu > .nav-item.submenu .nav-link:before, .navbar .offcanfas_menu > .nav-item.submenu .nav-link:after {
/*    content: "";
    width: 16px;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border: 0;
    position: absolute;
    transition: all 0.3s linear;*/
}
.navbar .offcanfas_menu > .nav-item.submenu .nav-link:after {
    background: url("../img/pluse.png");
    height: 16px;
}
.navbar .offcanfas_menu > .nav-item.submenu .nav-link:before {
    height: 2px;
    right: -6px;
    left: auto;
    transform: scale(1);
    border-radius: 0px;
    opacity: 0;
}
.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu {
    position: relative !important;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: all 0s linear;
    z-index: 0;
    background: transparent;
    padding-left: 0px;
    padding-top: 18px;
    padding-bottom: 5px;
    text-align: center;
    left: 0;
}
.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item {
    background: transparent;
    padding: 0px;
}
.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item > .nav-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 1.6px;
}
.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item > .nav-link:hover {
    color: #fff;
}
.navbar .offcanfas_menu > .nav-item.submenu .dropdown-menu > .nav-item.active > .nav-link {
    color: #fff;
}
.navbar .offcanfas_menu > .nav-item.submenu.show > .nav-link:before {
    opacity: 1;
}
.navbar .offcanfas_menu > .nav-item.submenu.show > .nav-link:after {
    opacity: 0;
}
.navbar .offcanfas_menu > .nav-item.submenu.show .dropdown-menu {
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.header_footer {
    display: table-footer-group;
    padding-bottom: 10px;
    opacity: 0;
    animation: fadeOut 0.4s both;
}
.header_footer h5 {
    font-size: 16px;
    color: #fff;
}
.header_footer ul {
    margin-bottom: 40px;
}
.header_footer ul li {
    display: inline-block;
    margin-right: 6px;
}
.header_footer ul li a {
    width: 44px;
    height: 44px;
    border: 1px solid #656c82;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    color: #fff;
    display: block;
    transition: all 0.3s linear;
}
.header_footer ul li a:hover {
    background: #fff;
    border-color: #fff;
    color: #5f28fb;
}
.header_footer p {
    font-size: 16px;
    color: #858faf;
    margin-bottom: 10px;
}

.logo_info {
    display: flex;
    align-items: center;
}

.header_area_four .logo img + img {
    display: none;
}
.header_area_four .burger_menu {
    color: #101010;
}
.header_area_four .burger_menu .dot_icon .dot {
    background: #101010;
}

/*=========== hamburger_menu_wrepper css ===========*/
/*========= hamburger menu css ========*/
.navbar-toggler {
    padding: 0px;
    margin-left: 0px;
}
.navbar-toggler:focus {
    outline: none;
}

.menu_toggle {
    width: 22px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
}
.menu_toggle .hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}
.menu_toggle .hamburger span {
    width: 0%;
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    margin: 4px 0;
    display: block;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.menu_toggle .hamburger span:nth-child(1) {
    transition-delay: 0s;
}
.menu_toggle .hamburger span:nth-child(2) {
    transition-delay: 0.125s;
}
.menu_toggle .hamburger span:nth-child(3) {
    transition-delay: 0.2s;
}
.menu_toggle .hamburger-cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    display: block;
}
.menu_toggle .hamburger-cross span {
    display: block;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.menu_toggle .hamburger-cross span:nth-child(1) {
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 10px;
    transition-delay: 0.3s;
}
.menu_toggle .hamburger-cross span:nth-child(2) {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 10px;
    transition-delay: 0.4s;
}

.collapsed .menu_toggle .hamburger span {
    width: 100%;
}
.collapsed .menu_toggle .hamburger span:nth-child(1) {
    transition-delay: 0.3s;
}
.collapsed .menu_toggle .hamburger span:nth-child(2) {
    transition-delay: 0.4s;
}
.collapsed .menu_toggle .hamburger span:nth-child(3) {
    transition-delay: 0.5s;
}
.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
    height: 0%;
    transition-delay: 0s;
}
.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
    width: 0%;
    transition-delay: 0.2s;
}

/*=========== navbar_fixed css ============*/
.navbar_fixed.header_area {
    position: fixed;
    width: 100%;
   /* height: 100vh;*/
    top: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
    transition: all 0.3s linear;
}
.navbar_fixed.header_area .logo_two img {
    display: none;
}
.navbar_fixed.header_area .logo_two img + img {
    display: block;
}
.navbar_fixed.header_area .h_contact_info a {
    color: #101010;
}
.navbar_fixed.header_area .h_contact_info a + a:before {
    color: #101010;
}
.navbar_fixed.header_area .menu > .nav-item {
   /* padding-bottom: 25px;
    padding-top: 25px;*/
}
.navbar_fixed.header_area .menu > .nav-item > .nav-link {
    color: #101010;
    font-size: 44px;
    font-weight: 600;
    font-style: normal;
    line-height: 73px;
    margin-bottom: 5%;
    letter-spacing: -2px;
}
.navbar_fixed.header_area .menu > .nav-item > .nav-link:before {
    /*background: #101010;*/
}
.navbar_fixed.header_area .side_menu {
    color: #101010;
}
.navbar_fixed.header_area .side_menu .dot_icon .dot {
    background: #101010;
}

/*=========== portfolio_menu css =============*/
header .portfolio_menu {
    padding: 26px 0px;
    z-index: 100;
    background: #fff;
}
header .portfolio_menu .container-fluid {
    padding-left: 200px;
    padding-right: 200px;
}
header .portfolio_menu .burger_menu {
    color: #000;
}
header .portfolio_menu .burger_menu .dot_icon .dot {
    background: #000;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.wave_one_section_one {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #af52ed 0%, #8830df 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #af52ed 0%, #8830df 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #af52ed 0%, #8830df 100%);
    position: relative;
}
.wave_one_section_one.active .w_content h2 {
    animation: fadeInUp 0.9s both 0.7s;
}
.wave_one_section_one.active .w_content .circle_line {
    animation: zoomIn 0.9s both 0.5s;
}
.wave_one_section_one.active .w_img_one img {
    animation: zoomIn 0.9s both 0.9s;
}

.w_content {
    position: relative;
}
.w_content h2 {
    color: #fff;
    font-size: 120px;
    line-height: 120px;
    font-weight: 700;
}
.w_content .circle_line {
    position: absolute;
    left: -150px;
    top: -130px;
}

.w_content, .w_content_two {
    color: #fff;
}

.t_first {
    left: 80px;
    top: 275px;
}

.t_two {
    right: 220px;
    bottom: 185px;
}

.t_three {
    bottom: -150px;
    left: 90px;
}

.t_four {
    top: 110px;
    left: 50%;
    transform: translateX(60%);
}

.t_five {
    bottom: 210px;
    left: 42%;
    transform: translateX(50%);
}

.s_round {
    border-radius: 50%;
    background: #fff;
    opacity: 0.078;
}
.s_round.r_one {
    width: 369px;
    height: 369px;
    bottom: 120px;
    left: -100px;
}
.s_round.r_two {
    width: 120px;
    height: 120px;
    top: 120px;
    right: 320px;
}
.s_round.r_three {
    width: 60px;
    height: 60px;
    top: 70px;
    right: 270px;
}

.p_absoulte {
    position: absolute;
}

.wave_one_section_two {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #fe8392 0%, #fc4057 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #fe8392 0%, #fc4057 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #fe8392 0%, #fc4057 100%);
}
.wave_one_section_two .round {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.1;
    top: -30px;
    left: 70px;
    animation: fade 0.9s both;
}
.wave_one_section_two .w_img_one img {
    animation: fadeOut 0.9s both;
}
.wave_one_section_two.active .s_round.r_one {
    animation: zoomIn 0.7s both 0.3s;
}
.wave_one_section_two.active .round {
    animation: zoomIn 0.9s both 0.5s;
}
.wave_one_section_two.active .w_img_one img {
    animation: fadeInRight 0.9s both 1s;
}
.wave_one_section_two.active .w_content_two h2 {
    animation: fadeInUp 0.9s both 1s;
}
.wave_one_section_two.active .w_content_two p {
    animation: fadeInUp 0.9s both 1.2s;
}
.wave_one_section_two.active .w_content_two .p_btn {
    animation: fadeInUp 0.9s both 1.4s;
}

.w_content_two {
    position: relative;
}
.w_content_two h2 {
    font-size: 80px;
    margin-bottom: 15px;
    color: #fff;
}
.w_content_two p {
    margin-bottom: 35px;
    color: #fff;
}
.p_btn {
    border: 1px solid #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    padding: 11px 53px 10px;
    transition: all 0.3s linear;
}
.p_btn:hover {
    background: #fff;
    color: #000000;
}

.g_hover {
    background-color: #313C74;
    transition: all 0.5s ease-in-out;
    background-size: 200% 100%;
    border: 1px solid #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    padding: 11px 53px 10px;
}
.g_hover:hover {
    background-position: 160% 50%;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.wave_one_section_three {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #89d48c 0%, #54b059 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #89d48c 0%, #54b059 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #89d48c 0%, #54b059 100%);
    position: relative;
}
.wave_one_section_three .w_content_two {
    z-index: 1;
}
.wave_one_section_three .w_content_two:before {
    content: "";
    background: url("../img/home_one/dot.png") no-repeat scroll center left;
    position: absolute;
    top: -45px;
    left: -60px;
    width: 157px;
    height: 248px;
    z-index: -1;
}
.wave_one_section_three.active .w_phone_img .p_one {
    animation: fadeInLeft 0.9s both 0.5s;
}
.wave_one_section_three.active .w_phone_img .p_two {
    animation: slideInLeft 0.9s both 1s;
}

.w_phone_img {
    position: relative;
    text-align: center;
    z-index: 1;
}
.w_phone_img .dot {
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.w_phone_img .p_two {
    bottom: 5px;
    right: 0;
    z-index: -1;
    animation: fadeOut 0.9s both;
}

.wave_one_section_four {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #eebd7c 0%, #e6a24e 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #eebd7c 0%, #e6a24e 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #eebd7c 0%, #e6a24e 100%);
}
.wave_one_section_four.active .img_screen.one {
    animation: translateD1 0.9s both 0.5s;
}
.wave_one_section_four.active .img_screen.two {
    animation: translateD 0.9s both 1s;
}
.wave_one_section_four.active .img_screen.three {
    animation: translateDT 0.9s both 1.3s;
}
.wave_one_section_four.active .img_four {
    animation: fadeInUp 0.9s both 1.6s;
}
.wave_one_section_four .t_two {
    right: 198px;
    bottom: 281px;
}
.wave_one_section_four .w_content_two h2, .wave_one_section_four .w_content_two p, .wave_one_section_four .w_content_two .p_btn {
    animation: fadeOut 0.4s both;
}

.w_mockup_img {
    position: relative;
    text-align: center;
}
.w_mockup_img:before {
    content: "";
    background: url("../img/home_one/shap_circle.png") no-repeat center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -70px;
    right: -170px;
}
.w_mockup_img .img_screen {
    display: inline-block;
    position: relative;
    transform: rotate(-18deg);
}
.w_mockup_img .img_screen img {
    box-shadow: 0px 10px 40px 0px rgba(12, 0, 46, 0.15);
}
.w_mockup_img .img_screen.three, .w_mockup_img .img_screen.two {
    position: absolute;
}
.w_mockup_img .img_screen.one {
    animation: fadeOut 0.9s both;
}
.w_mockup_img .img_screen.three {
    z-index: 1;
    left: 100px;
    top: 0;
    transform: rotate(-5deg);
    animation: fadeOut 0.9s both;
}
.w_mockup_img .img_screen.two {
    z-index: 0;
    left: 70px;
    top: -5px;
    transform: rotate(-12deg);
    animation: fadeOut 0.9s both;
}
.w_mockup_img .img_four {
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: -80px;
    top: 105px;
    z-index: 1;
    animation: fadeOut 0.9s both;
}

.w_footer_area {
    background: url("../img/home_one/footer_bg.jpg") no-repeat scroll center 0/cover;
    padding: 100px 0px 120px;
}

.footer_text {
    text-align: center;
    color: #fff;
}
.footer_text h3 {
    font-size: 36px;
    margin-bottom: 35px;
    color: #fff;
}
.footer_text .subscribe_info {
    max-width: 550px;
    margin: 0 auto 50px;
    position: relative;
}
.footer_text .subscribe_info .form-control {
    background: rgba(255, 255, 255, 0.25);
    height: 50px;
    font-size: 14px;
    color: #fff;
    border-radius: 0px;
    border: 0px;
    padding-left: 20px;
}
.footer_text .subscribe_info .form-control.placeholder {
    color: #fff;
}
.footer_text .subscribe_info .form-control:-moz-placeholder {
    color: #fff;
}
.footer_text .subscribe_info .form-control::-moz-placeholder {
    color: #fff;
}
.footer_text .subscribe_info .form-control::-webkit-input-placeholder {
    color: #fff;
}
.footer_text .subscribe_info .form-control:focus {
    box-shadow: none;
}
.footer_text .subscribe_info button {
    position: absolute;
    right: 20px;
    top: 54%;
    padding: 0px;
    border: 0px;
    transform: translateY(-52%);
    font-size: 22px;
    color: #fff;
}
.footer_text .social_link {
    margin-bottom: 32px;
}
.footer_text .social_link li + li {
    margin-left: 12px;
}
.footer_text p {
    margin-bottom: 0;
    font-size: 14px;
    color: #aaaaaa;
    line-height: 28px;
}
.footer_text p a {
    color: #fff;
    text-decoration: underline;
}

.social_link {
    margin-bottom: 0px;
}
.social_link li {
    display: inline-block;
}
.social_link li a {
    display: inline-block;
    font-size: 20px;
    color: #929197;
    transition: all 0.5s;
    width: 25px;
    height: 22px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.social_link li a i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}
.social_link li a i + i {
    top: 100%;
}
.social_link li a:hover i {
    top: -100%;
    color: #fff;
}
.social_link li a:hover i + i {
    top: 0;
}
.social_link li + li {
    margin-left: 10px;
}

.wave_one_section_two.active .w_content_two h2, .wave_one_section_three.active .w_content_two h2, .wave_one_section_four.active .w_content_two h2 {
    animation: fadeInUp 0.9s both 1s;
}
.wave_one_section_two.active .w_content_two p, .wave_one_section_three.active .w_content_two p, .wave_one_section_four.active .w_content_two p {
    animation: fadeInUp 0.9s both 1.2s;
}
.wave_one_section_two.active .w_content_two .p_btn, .wave_one_section_three.active .w_content_two .p_btn, .wave_one_section_four.active .w_content_two .p_btn {
    animation: fadeInUp 0.9s both 1.4s;
}

.home_one #fp-nav {
    right: 50px;
    transform: translateY(-50%);
    margin-top: 0 !important;
}
.home_one #fp-nav li {
    height: auto !important;
    margin: 0px !important;
    width: 1px !important;
}
.home_one #fp-nav li a {
    height: 85px !important;
    width: 1px !important;
    background: #fff;
    opacity: 0.2;
    padding: 0px;
    margin: 0px !important;
    transition: opacity 0.5s;
}
.home_one #fp-nav li a span, .home_one #fp-nav li a:before, .home_one #fp-nav li a:after {
    display: none;
}
.home_one #fp-nav li a.active {
    opacity: 1;
}


/*end header*/
.blog-details__image img{
    width: 100%;
}
.blog-details__image{
    position: relative;
}
.blog-details__date{
    position: absolute;
    color: #fff;
    padding: 0 10px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #EF4059;
}
.blog-details__meta a{
    font-weight: bold;
    text-transform: uppercase;
    color: #EF4059;
}
.sidebar__search-form{
    background-color: #FF8257;
    padding: 20px 20px;
    border: none;
    margin-bottom: 10%;
}
.sidebar__search-form input{
    background-color: #FF8257;
    border: none;
    outline: none;
    color: #fff;
}
.sidebar__search-form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.sidebar__search-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
.sidebar__search-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
.sidebar__search-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.sidebar__category,.sidebar__tags,.sidebar__post-wrap{
    padding: 10px;
    margin: 20px 0;
-webkit-box-shadow: 0px 0px 60px -20px rgba(34, 60, 80, 0.23);
-moz-box-shadow: 0px 0px 60px -20px rgba(34, 60, 80, 0.23);
box-shadow: 0px 0px 60px -20px rgba(34, 60, 80, 0.23);
}
.sidebar__category ul,.sidebar__tags ul{
    padding-left: 0;
}
.sidebar__category li,.sidebar__tags li{
    list-style: none;
    color: #000;
}
.sidebar__category li a,.sidebar__tags li a,.sidebar__post a{
    color: #000;
}
.sidebar__post-title a{
    font-size: 18px;
    margin-top: 10px;
}
.sidebar__category li:hover{
    padding-left: 5%;
    transition: 0.4s;
    color: #9364D4;
}
.sidebar__category li a:hover,.sidebar__post-title a:hover, .sidebar__tags a:hover{
    color: #9364D4;
}
.sidebar__category li:hover:before{
    content: '>';
    color: #FF8257;
}
.sidebar__post-image,.sidebar__post-content{
    display: inline-block;
}
.inner-block img{
    width: 100%;
    height: 60px;
}

/*
* 6. blog styles
*/
.blog-one {
  padding-top: 190px;
  padding-bottom: 90px;
  background: transparent url(../images/blog-bg-1-1.png) center center no-repeat;
  background-size: cover;
}

.blog-one__single {
  border-radius: 4px;
  margin-bottom: 30px;
}

.blog-one__single-inner-block {
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  position: relative;
  padding-top: 15px;
  padding-bottom: 55px;
  /* padding-left: 60px;
  padding-right: 60px; */
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.blog-one__single-inner-block img{
    width: 100%;
    height: 300px;
}
/* .blog-one__single-inner-block:before, .blog-one__single-inner-block:after {
  content: '';
  width: 191px;
  height: 191px;
  border-radius: 50%;
  background-color: #fff;
  opacity: .1;
  position: absolute;
  -webkit-transition: all .4s ease .2s;
  transition: all .4s ease .2s;
}
.blog-one__single-inner-block:before {
  top: 0;
  right: 0;
  -webkit-transform: translate(60%, -60%);
          transform: translate(60%, -60%);
} */
/* .blog-one__single-inner-block:after {
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-60%, 60%);
          transform: translate(-60%, 60%);
} */

.blog-one__date {
  position: relative;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 0;
  background-color: #9364d4;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  padding: 0 24.5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.blog-one__author {
  position: relative;
  z-index: 10;
  color: #9364D4;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em;
  font-weight: 600;
  display: inline-block;
  line-height: 1em;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.blog-one__title {
  position: relative;
  z-index: 10;
  margin: 0;
  color: #25326D;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
}

.blog-one__title a {
  color: #2E3D62;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.blog-one__text {
  position: relative;
  z-index: 10;
  margin: 0;
  color: #25326D;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.blog-one__link {
  position: relative;
  z-index: 10;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #25326D;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}



.blog-one__blog-page {
  background-color: #fff;
  background-image: none;
  padding-top: 120px;
  border-bottom: 1px solid #EAEAEA;
}

.blog-post-pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog-post-pagination a {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #F3F3F3;
  line-height: 52px;
  text-align: center;
  font-size: 18px;
  color: #2e3d62;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  font-weight: 600;
}
.blog-post-pagination a.prev, .blog-post-pagination a.next {
  background: #2e3d62;
  color: #fff;
  font-size: 14px;
}
.blog-post-pagination a.active {
  cursor: auto;
}
.blog-post-pagination a.active, .blog-post-pagination a:hover {
  background: #ff8257;
  color: #2e3d62;
}
.blog-post-pagination a + a {
  margin-left: 10px;
}

.blog-details {
  padding: 120px 0;
  border-bottom: 1px solid #EAEAEA;
}
.blog-details__image {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.blog-details__image > img {
  width: 100%;
}
.blog-details__date {
  background-color: #ef4059;
  display: inline-block;
  vertical-align: middle;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
  padding: 11px 24.5px;
  position: absolute;
  top: 0;
  left: 0;
}
.blog-details__meta {
  margin-top: 15px;
}
.blog-details__meta-link {
  position: relative;
  z-index: 10;
  color: #EF4059;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em;
  font-weight: 600;
  display: inline-block;
  line-height: 1em;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.blog-details__meta-sep {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 14px;
}
.blog-details__title {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: #2E3D62;
  margin-top: 20px;
  margin-bottom: 40px;
}
.blog-details__text {
  margin: 0;
  font-size: 16px;
  line-height: 34px;
  color: #666E82;
}
.blog-details__text + .blog-details__text {
  margin-top: 35px;
}
.blog-details__content-title {
  margin: 0;
  color: #2E3D62;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}
.blog-details__author {
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.1);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.1);
  padding: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.blog-details__author-image, .blog-details__author-content {
  display: table-cell;
  vertical-align: top;
}
.blog-details__author-image {
  width: 169px;
  border-radius: 4px;
  overflow: hidden;
}
.blog-details__author-image > img {
  width: 100%;
}
.blog-details__author-content {
  padding-left: 40px;
}
.blog-details__author-content h3, .blog-details__author-content p {
  margin: 0;
}
.blog-details__author-content h3 {
  color: #2e3d62;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}
.blog-details__author-content p {
  font-size: 16px;
  line-height: 34px;
  color: #666E82;
}
.comment-one {
  margin-bottom: 60px;
}
.comment-one__single {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 50px;
}
.comment-one__single + .comment-one__single {
  margin-top: 60px;
}
.comment-one__image, .comment-one__content {
  display: table-cell;
  vertical-align: top;
}
.comment-one__image {
  width: 90px;
}
.comment-one__image .inner-block {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.comment-one__image .inner-block > img {
  width: 100%;
}
.comment-one__content {
  padding-left: 40px;
}
.comment-one__author {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #2e3d62;
}
.comment-one__date {
  color: #FF8257;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1em;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}
.comment-one__date-sep {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 12px;
}
.comment-one__text {
  color: #666E82;
  font-size: 16px;
  line-height: 34px;
  margin: 0;
}
.comment-one__reply {
  display: inline-block;
  vertical-align: middle;
  border-radius: 22px;
  background-color: #FF8257;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 30px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.comment-one__reply:hover {
  background-color: #2e3d62;
  color: #fff;
}
.comment-one__top-left, .comment-one__top-right {
  display: table-cell;
  vertical-align: top;
}
.reply-form input, .reply-form textarea {
  border: none;
  outline: none;
  width: 100%;
  display: block;
  border-radius: 32px;
  height: 64px;
  border: 1px solid #EAEAEA;
  color: #666E82;
  font-size: 16px;
  padding-left: 30px;
  margin-bottom: 30px;
}
.reply-form input::-webkit-input-placeholder, .reply-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666E82;
}
.reply-form input::-moz-placeholder, .reply-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #666E82;
}
.reply-form input:-ms-input-placeholder, .reply-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #666E82;
}
.reply-form input:-moz-placeholder, .reply-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #666E82;
}
.reply-form textarea {
  height: 243px;
  padding-top: 20px;
}
.reply-form__btn {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none !important;
  cursor: pointer;
  background-color: #ff8257;
  border-radius: 33.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 15px 60px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.reply-form__btn:hover {
  background-color: #2e3d62;
}

.site-footer__subscribe {
  padding-bottom: 125px;
  padding-top: 110px;
}

.site-footer__subscribe-form {
  width: 100%;
  max-width: 685px;
  margin-left: auto;
  margin-right: auto;
  height: 84px;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  border-radius: 42px;
  position: relative;
  overflow: hidden;
}
.site-footer__subscribe-form input {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #666E82;
  font-size: 16px;
  padding-left: 60px;
}
.site-footer__subscribe-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666E82;
}
.site-footer__subscribe-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #666E82;
}
.site-footer__subscribe-form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #666E82;
}
.site-footer__subscribe-form input:-moz-placeholder {
  /* Firefox 18- */
  color: #666E82;
}
.site-footer__subscribe-form button[type=submit] {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #FF8257;
  width: 211px;
  height: 64px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.site-footer__subscribe-form button[type=submit]:hover {
  background-color: #9364D4;
}
.contact_inner h1{
font-size: 48px;
}
.contact_info span{
    margin-bottom: 25px;
}
.portfolio{
    margin: 5% 10%;
}
.filters p{
margin-left: 10%;
margin-bottom: 20%;
}
.filters p a{
font-size: bold;
}
.filters a.active{
    color: #9364d4;
}
.filters a:hover{
    color: #9364d4;
}
.item_text{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -38px;
    position: relative;
    z-index: 0;
}
.item_content {
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
    padding: 18px 30px;
    position: relative;
    z-index: 1;
}
.item_img{
    overflow: hidden;
}
.item_content h4{
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    padding: 10px 0;
}
.item_content p{
    text-align: center;
}
.item_content_hover{
    background-image: -moz-linear-gradient(140deg, rgba(73, 49, 230, 0.9) 0%, #7a51ed 100%);
    background-image: -webkit-linear-gradient(140deg, rgba(73, 49, 230, 0.9) 0%, #7a51ed 100%);
    background-image: -ms-linear-gradient(140deg, rgba(73, 49, 230, 0.9) 0%, #7a51ed 100%);
    transition: 1s;
}
.item_content_hover h4,.item_content_hover p{
    color: white;
    transition: 0.2s;
}
.hover_blog{
    color: inherit!important;
    background-color: #fff!important;
}





.menu_right .burger_menu {
    cursor: pointer;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
}
.menu_right .burger_menu .line {
    display: block;
    width: 30px;
    height: 4px;
    margin-top: 8px;
    -webkit-transition: background-color .3s,-webkit-transform .3s;
    transition: background-color .3s,-webkit-transform .3s;
    transition: transform .3s,background-color .3s;
    transition: transform .3s,background-color .3s,-webkit-transform .3s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #2adfb4;
}
.menu_right .burger_menu .line-short {
    -webkit-transform: scaleX(.6) translateX(34%);
    transform: scaleX(.6) translateX(34%);
}
.menu_right .burger_menu.open .line {
    -webkit-transform: scaleX(1) translateY(5px) rotate(
-45deg
);
    transform: scaleX(1) translateY(5px) rotate(
-45deg
);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #2adfb4!important;
}
.menu_right .burger_menu.open .line-short {
    -webkit-transform: scaleX(1) translateY(-6px) translateX(0) rotate(
45deg
);
    transform: scaleX(1) translateY(-6px) translateX(0) rotate(
45deg
);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}




   .scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .blog-one__single:hover .scale img {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }
   .blog-one__single:hover h1.blog-one__title {
    color: #2adfb4;
   }
   .button-underline {
    display: inline-block;
    position: relative;
    font-weight: 500;
    outline: 0;
    line-height: 1.2em;
    padding: 3px 0;
    background-color: transparent;
}
.button-underline, .button-underline:after {
    -webkit-transition: .25s cubic-bezier(.42,0,.13,.99);
    transition: .25s cubic-bezier(.42,0,.13,.99);
}
.button-underline:after {
    content: "";
    position: absolute;
    display: block;
    background-color: #2adfb4;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 25px;
}
.blog-one__single:focus .button-underline:after, .blog-one__single:hover .button-underline:after {
    width: 100%;
}
.service_list h2 , .service_list p{
    color: #25326d;
}



/*contact*/

.address{
  margin-top: 4%;
  text-align: center;
}
.info_contact{
  margin-top: 2%!important;
}
.form-control {
  border: 1px solid 1E98FF;
  color: #1E98FF;
}
.form-control:focus {
  border-color: #1E98FF;
  outline: 0;
  box-shadow: none;
}
.btn-outline-success {
  color: #fff;
  background-color: #313C74;
  border: #313C74;
}
.btn-outline-success:hover {
    color: #fff;
  background-color: #313C74;
  border: #313C74;

/*  color: #fff;
  background-color: #1E98FF;*/
}
i.fa-long-arrow-right{
  margin-right: 10px;
}
.btn-outline-success:hover i.fa-long-arrow-right{
  margin-right: 0px;
  margin-left: 10px;
  transition: 0.2s;
}
/*div.input-group:hover i.fa-long-arrow-right{
  margin-right: 0px;
  margin-left: 10px;
  transition: 0.2s;
}*/

.contact_info{
  padding: 60px 0;
}
.contact_info span{
  color: #A386F3;
  font-size: 30px;
}
.contact_inner h4{
  color: #313C74;
  font-size: 24px;
  margin-bottom: 14px;
}
.contact_inner h1{
  color: #313C74;
}
.contact_info p{
  color: #777;
  font-size: 16px;
  margin-bottom: 16px;
}

.field-contactwrapper-name{
  width: 100%;
}
.field-contactwrapper-email{
  width: 100%;
}
input.form-control{
  color: #fff;
}
textarea.form-control{
  color: #fff;
}
input.form-control::placeholder{
  color: #fff;
}
textarea.form-control::placeholder{
  color: #fff;
}
#contact-form .form-control:focus{
  color: #fff;
}
/*input.form-control:focus.form-control::placeholder{
  position: absolute;
  top: -20px;
  color: black;
  transition: 0.2s;
  z-index: 999;
}*/

/* contact end */

.service_view_card_content h2{
    color: #26326E;
}
.service_view_card_content p{
    color: #26326E;
}


/*Last Posts*/
section.last_posts{
    background-color: #25326D;
}
section.last_posts h1, h3{
    color: white;
}
section.last_posts p{
    color: white;
}
section.last_posts a{
    color: white;
}
section.last_posts .blog-one__single-inner-block{
    background-color: inherit;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.breadcrumb_content h1{
    color: #25326D; 
}
.breadcrumb_content ul li{
    color: #25326D; 
}
.breadcrumb_content ul li a{
    color: #25326D; 
    border-bottom: 2px solid #2adfb4;
}
.breadcrumb_content ul li a:hover{
    color: #2adfb4;
    border-color: transparent;
}
.breadcrumb_content p{
    font-size: 24px;
    color: #25326D; 
}
span.temp_right{
    color: #2adfb4;
    margin: 0 8px; 
}

.service_view_cards{
    margin-bottom: 40px;
    margin-top: 40px;
}



.product-preview__visual:before,.product-preview.js-initialized .product-preview__visual img{-webkit-transition:all .5s ease;transition:all .5s ease}
.product-preview__visual{-ms-flex-preferred-size:100%;flex-basis:100%;position:relative}
.product-preview__visual:before{content:"";display:block;position:absolute;left:0;top:0;width:100%;height:100%;background-color:#e6edf3;background-color:var(--product-accent)}
.product-preview__visual img{-webkit-transform:scale(.7);transform:scale(.7);-webkit-box-shadow:0 50px 70px 0 rgba(26,39,51,.25);box-shadow:0 50px 70px 0 rgba(26,39,51,.25)}
.product-preview__visual img:hover{cursor:pointer}
.product-preview__visual.js-hover img{-webkit-transform:scale(.75);transform:scale(.75)}
.product-preview__visual.js-hover:before{-webkit-transform:scale(.95);transform:scale(.95);opacity:.7}
.product-preview__content{padding:0;-ms-flex-preferred-size:100%;flex-basis:100%;text-align:right}
.product-preview__title-link{display:inline-block}
.product-preview__title{position:absolute;top:0;left:0}
.product-preview__description{display:none;max-width:650px}
.product-preview__description+.button-underline{margin-top:0}
.product-preview__button{position:absolute;bottom:0;right:0}
.product-preview.js-initialized .product-preview__visual:before, .product-preview.js-initialized .product-preview__visual img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.product-preview__visual:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e6edf3;
    background-color: var(--product-accent);
}
.product-preview__visual img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.navbar_fixed.header_area .menu > .nav-item > .nav-link:hover{
    color: #2ADFB4;
}
.navbar_top{
    margin: 0 0 0 30%;
}
.navbar_top ul li{
    list-style: none;
    display: inline-block;
    margin-top: 14px;
    margin-right: 2vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar_top ul li a{
    color: #101010;
}
.navbar_top ul li a:hover{
    color: #2ADFB4;
}
.opacity_for_nav{
    opacity: 0;
}
.nav_bottom h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(29, 29, 27, 0.3);
    margin-bottom: 30px;
}
.nav_bottom a{
    margin-bottom: 3%;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    display: block;
    color: #101010;
}
.nav_bottom a:hover{
    color: #2ADFB4;
}
.nav_bottom{
    margin-left: 10%;
}


/*page navigation*/
.page-navigation {
    list-style: none;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.page-navigation__item {
    position: relative;
}
.page-navigation__previous:after, .page-navigation__previous:before {
    display: table;
    content: " ";
}
.page-navigation__item a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.page-navigation .icon {
    -webkit-transition: .15s cubic-bezier(.42,0,.13,.99);
    transition: .15s cubic-bezier(.42,0,.13,.99);
    -webkit-transition-property: fill;
    transition-property: fill;
}
.page-navigation__previous a>* {
    float: left;
    clear: left;
}
.page-navigation__arrow {
    margin-bottom: 15px;
}
.icon-arrow-long-left, .icon-arrow-long-right {
    width: 30px;
    height: 9px;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: #25326d;
}
.page-navigation__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.page-navigation__subtitle {
    font-size: 12px;
    font-weight: 300;
}
.page-navigation__previous .page-navigation__thumb {
    right: -90px;
    -webkit-transform: translateX(100%) translateY(-50%);
    transform: translateX(100%) translateY(-50%);
}
@media (min-width: 1024px)
.case .page-navigation__thumb {
    display: block;
    width: 200px;
    height: 200px;
    padding-top: 0;
    top: 50%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}
.page-navigation__thumb {
    display: none;
}
.visual {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
}

.margin_top{
    margin-bottom: 30vh;
    margin-top: 10vh
}

.portfolio_view_slider{
    height: 550px;
    position: relative;
}
.portfolio_view_slider_img{
    width: 100%;
    height: 550px;
}
.portfolio_view_h1{
    font-size: 24px;
}
.navbar-collapse{
    height: 100vh;
}
.language_box{
    margin-top: -30px;
}
.language_box ul.dropdown-menu{
    background-color: #25326D;
}
.language_box li.language-switcher{
    list-style: none;
}
.language_box li.language-switcher a.btn{
    padding: 0;
}
.header_hide_content{
    margin-top: 15vh;
}