/* options */
/*
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldCondIt.eot');
  src: local('../fonts/Myriad Pro Bold Condensed Italic'), local('../fonts/MyriadPro-BoldCondIt'),
    url('../fonts/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldCondIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackIt.eot');
  src: local('../fonts/Myriad Pro Black Italic'), local('../fonts/MyriadPro-BlackIt'),
    url('../fonts/MyriadPro-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-LightIt.eot');
  src: local('../fonts/Myriad Pro Light Italic'), local('../fonts/MyriadPro-LightIt'),
    url('../fonts/MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackCond.eot');
  src: local('../fonts/Myriad Pro Black Condensed'), local('../fonts/MyriadPro-BlackCond'),
    url('../fonts/MyriadPro-BlackCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackCond.woff') format('woff'),
    url('../fonts/MyriadPro-BlackCond.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Cond.eot');
  src: local('../fonts/Myriad Pro Condensed'), local('../fonts/MyriadPro-Cond'),
    url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Cond.woff') format('woff'),
    url('../fonts/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: local('../fonts/Myriad Pro Bold'), local('../fonts/MyriadPro-Bold'),
    url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: '/Myriad Pro';
  src: url('../fonts/MyriadPro-BoldIt.eot');
  src: local('../fonts/Myriad Pro Bold Italic'), local('../fonts/MyriadPro-BoldIt'),
    url('../fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldSemiCnIt.eot');
  src: local('../fonts/Myriad Pro Bold SemiCondensed Italic'), local('../fonts/MyriadPro-BoldSemiCnIt'),
    url('../fonts/MyriadPro-BoldSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiCnIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-CondIt.eot');
  src: local('../fonts/Myriad Pro Condensed Italic'), local('../fonts/MyriadPro-CondIt'),
    url('../fonts/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-CondIt.woff') format('woff'),
    url('../fonts/MyriadPro-CondIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-LightCond.eot');
  src: local('../fonts/Myriad Pro Light Condensed'), local('../fonts/MyriadPro-LightCond'),
    url('../fonts/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightCond.woff') format('woff'),
    url('../fonts/MyriadPro-LightCond.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiCn.eot');
  src: local('../fonts/Myriad Pro SemiCondensed'), local('../fonts/MyriadPro-SemiCn'),
    url('../fonts/MyriadPro-SemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-SemiCn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiCnIt.eot');
  src: local('../fonts/Myriad Pro SemiCondensed Italic'), local('../fonts/MyriadPro-SemiCnIt'),
    url('../fonts/MyriadPro-SemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiCnIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldCond.eot');
  src: local('../fonts/Myriad Pro Bold Condensed'), local('../fonts/MyriadPro-BoldCond'),
    url('../fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldCond.woff') format('woff'),
    url('../fonts/MyriadPro-BoldCond.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-LightSemiExtIt.eot');
  src: local('../fonts/Myriad Pro Light SemiExtended Italic'), local('../fonts/MyriadPro-LightSemiExtIt'),
    url('../fonts/MyriadPro-LightSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiExtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Semibold.eot');
  src: local('../fonts/Myriad Pro Semibold'), local('../fonts/MyriadPro-Semibold'),
    url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Semibold.woff') format('woff'),
    url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Black.eot');
  src: local('../fonts/Myriad Pro Black'), local('../fonts/MyriadPro-Black'),
    url('../fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Black.woff') format('woff'),
    url('../fonts/MyriadPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: local('../fonts/Myriad Pro Regular'), local('../fonts/MyriadPro-Regular'),
    url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-LightSemiCn.eot');
  src: local('../fonts/Myriad Pro Light SemiCondensed'), local('../fonts/MyriadPro-LightSemiCn'),
    url('../fonts/MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiCn.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackCondIt.eot');
  src: local('../fonts/Myriad Pro Black Condensed Italic'), local('../fonts/MyriadPro-BlackCondIt'),
    url('../fonts/MyriadPro-BlackCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackCondIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-LightCondIt.eot');
  src: local('../fonts/Myriad Pro Light Condensed Italic'), local('../fonts/MyriadPro-LightCondIt'),
    url('../fonts/MyriadPro-LightCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightCondIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-LightSemiExt.eot');
  src: local('../fonts/Myriad Pro Light SemiExtended'), local('../fonts/MyriadPro-LightSemiExt'),
    url('../fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackSemiCnIt.eot');
  src: local('../fonts/Myriad Pro Black SemiCondensed Italic'), local('../fonts/MyriadPro-BlackSemiCnIt'),
    url('../fonts/MyriadPro-BlackSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiCnIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldCondIt.eot');
  src: local('../fonts/Myriad Pro Semibold Condensed Italic'), local('../fonts/MyriadPro-SemiboldCondIt'),
    url('../fonts/MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldCondIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldCond.eot');
  src: local('../fonts/Myriad Pro Semibold Condensed'), local('../fonts/MyriadPro-SemiboldCond'),
    url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldSemiExtIt.eot');
  src: local('../fonts/Myriad Pro Bold SemiExtended Italic'), local('../fonts/MyriadPro-BoldSemiExtIt'),
    url('../fonts/MyriadPro-BoldSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiExtIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldSemiCn.eot');
  src: local('../fonts/Myriad Pro Semibold SemiCondensed'), local('../fonts/MyriadPro-SemiboldSemiCn'),
    url('../fonts/MyriadPro-SemiboldSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiCn.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackSemiExtIt.eot');
  src: local('../fonts/Myriad Pro Black SemiExtended Italic'), local('../fonts/MyriadPro-BlackSemiExtIt'),
    url('../fonts/MyriadPro-BlackSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiExtIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldSemiExtIt.eot');
  src: local('../fonts/Myriad Pro Semibold SemiExtended Italic'), local('../fonts/MyriadPro-SemiboldSemiExtIt'),
    url('../fonts/MyriadPro-SemiboldSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiExtIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-LightSemiCnIt.eot');
  src: local('../fonts/Myriad Pro Light SemiCondensed Italic'), local('../fonts/MyriadPro-LightSemiCnIt'),
    url('../fonts/MyriadPro-LightSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiCnIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldSemiCn.eot');
  src: local('../fonts/Myriad Pro Bold SemiCondensed'), local('../fonts/MyriadPro-BoldSemiCn'),
    url('../fonts/MyriadPro-BoldSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiCn.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldSemiCnIt.eot');
  src: local('../fonts/Myriad Pro Semibold SemiCondensed Italic'), local('../fonts/MyriadPro-SemiboldSemiCnIt'),
    url('../fonts/MyriadPro-SemiboldSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiCnIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldIt.eot');
  src: local('../fonts/Myriad Pro Semibold Italic'), local('../fonts/MyriadPro-SemiboldIt'),
    url('../fonts/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-It.eot');
  src: local('../fonts/Myriad Pro Italic'), local('../fonts/MyriadPro-It'),
    url('../fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-It.woff') format('woff'),
    url('../fonts/MyriadPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BoldSemiExt.eot');
  src: local('../fonts/Myriad Pro Bold SemiExtended'), local('../fonts/MyriadPro-BoldSemiExt'),
    url('../fonts/MyriadPro-BoldSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiExt.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Light.eot');
  src: local('../fonts/Myriad Pro Light'), local('../fonts/MyriadPro-Light'),
    url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Light.woff') format('woff'),
    url('../fonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiboldSemiExt.eot');
  src: local('../fonts/Myriad Pro Semibold SemiExtended'), local('../fonts/MyriadPro-SemiboldSemiExt'),
    url('../fonts/MyriadPro-SemiboldSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiExt.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiExtIt.eot');
  src: local('../fonts/Myriad Pro SemiExtended Italic'), local('../fonts/MyriadPro-SemiExtIt'),
    url('../fonts/MyriadPro-SemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiExtIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackSemiCn.eot');
  src: local('../fonts/Myriad Pro Black SemiCondensed'), local('../fonts/MyriadPro-BlackSemiCn'),
    url('../fonts/MyriadPro-BlackSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiCn.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-BlackSemiExt.eot');
  src: local('../fonts/Myriad Pro Black SemiExtended'), local('../fonts/MyriadPro-BlackSemiExt'),
    url('../fonts/MyriadPro-BlackSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiExt.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiExt.eot');
  src: local('../fonts/Myriad Pro SemiExtended'), local('../fonts/MyriadPro-SemiExt'),
    url('../fonts/MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiExt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*/
@font-face {
    font-family: 'MontserratMedium';
    src: url('../fonts/MontserratMedium.eot');
    src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'),
         url('../fonts/MontserratMedium.woff2') format('woff2'),
         url('../fonts/MontserratMedium.woff') format('woff'),
         url('../fonts/MontserratMedium.ttf') format('truetype'),
         url('../fonts/MontserratMedium.svg#MontserratMedium') format('svg');
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/MontserratBold.eot');
    src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratBold.woff2') format('woff2'),
         url('../fonts/MontserratBold.woff') format('woff'),
         url('../fonts/MontserratBold.ttf') format('truetype'),
         url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
}
@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../fonts/MontserratExtraBold.eot');
    src: url('../fonts/MontserratExtraBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratExtraBold.woff2') format('woff2'),
         url('../fonts/MontserratExtraBold.woff') format('woff'),
         url('../fonts/MontserratExtraBold.ttf') format('truetype'),
         url('../fonts/MontserratExtraBold.svg#MontserratExtraBold') format('svg');
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/MontserratSemiBold.eot');
    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
         url('../fonts/MontserratSemiBold.woff2') format('woff2'),
         url('../fonts/MontserratSemiBold.woff') format('woff'),
         url('../fonts/MontserratSemiBold.ttf') format('truetype'),
         url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('../fonts/MontserratRegular.woff2') format('woff2'),
         url('../fonts/MontserratRegular.woff') format('woff'),
         url('../fonts/MontserratRegular.ttf') format('truetype'),
         url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}
@font-face {
    font-family: 'RubikRegular';
    src: url('../fonts/RubikRegular.eot');
    src: url('../fonts/RubikRegular.eot') format('embedded-opentype'),
         url('../fonts/RubikRegular.woff2') format('woff2'),
         url('../fonts/RubikRegular.woff') format('woff'),
         url('../fonts/RubikRegular.ttf') format('truetype'),
         url('../fonts/RubikRegular.svg#RubikRegular') format('svg');
}



/*fonts*/
body {
    font-family: "RubikRegular","Arial", sans-serif;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "MontserratBold","Arial", sans-serif;
}
.bottom_header ul li a.nav-link{
 font-family: "MontserratSemiBold","Arial", sans-serif;
}

.header_info{
  font-size: 14px;
/*  font-family: "RubikRegular","Arial", sans-serif;*/
}
.slider_text_block h1{
  font-family: "MontserratExtraBold","Arial", sans-serif;
}
.slider_text_block p , section.write form input{
  font-family: "MontserratRegular","Arial", sans-serif;
}
.slider_text_block p a.btn_in_slider{
  font-family: "MontserratBold","Arial", sans-serif;
}
section.about_us h3 span{
  font-family: "MontserratBold","Arial", sans-serif;
  font-size: 18px;
}
section.about .about_data{
  padding-top: 10%;
}
section.about .about_data h3{
  margin-bottom: 20px;
  font-size: 32px;
}
section.about .about_data p{
  font-size: 20px;
}
section.index_tab .nav-tabs .nav-link , .slick-arrow , .btn {
font-family: "MontserratBold","Arial", sans-serif;
}
.card-title{
 font-family: "MontserratMedium","Arial", sans-serif; 
}

.language-switcher label{
  font-size: 14px;
  margin-top: 4px;
  font-family: "Montserrat","Arial", sans-serif;
}
/*endfonts*/


ul.navbar-nav li.nav-item a.nav-link {
  text-transform: uppercase;
  font-weight: bolder;
  color: #000;
  transition: 0s;
} 
ul.navbar-nav li.nav-item a.nav-link:hover {
  border-radius: 10px!important;
  color: #fff;
  background-color: #00447D;
} 
ul.navbar-nav li.nav-item a.active {
  border-radius: 10px!important;
  color: #fff!important;
  background-color: #00447D;
} 

section{
  margin-bottom: 100px;
}
.btn{
  padding: 1rem;
  border-radius: 0;
}

/* options end */

header{
  background-color: #00467A;
}
header p{
  display: inline-block;
  margin-right: 10%;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
header div.lang_img img{
  width: 30px;
  height: 20px;
  margin-top: 2px;
/*  margin-bottom: 10px;*/
  margin-right: 10px;
  cursor: pointer;
}
.nav .dropdown{
  display: inline-block;
}
.nav ul{
  display: inline-block;
}

.nav ul li{
  display: inline-block;
  text-decoration: none;
}
.nav button.lang{
  border: none;
  background-color: none;
}
.nav .dropdown-menu{
  background-color: none;
}
ul.dropdown-menu li.dropdown a.nav-link {
  padding-left: 10%;
}
ul.dropdown-menu {
  border: none;
  background: #fff;
}
.icon i{
  margin-left:40px;
}
.logo img{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*.carousel-inner .carousel-item{
  height: 70vh;
}*/
.corusel_top_img{
  width: 100%;
  height: 70vh;
}
.carousel-inner .carousel-caption{
  text-align: left;
  bottom: 2.8rem;
}

.slider_text_block h1{
    font-size:32px;
    width: 50%;
    font-weight: 600;
    color:#fff;
}
.slider_text_block p{
    color:#fff;
    font-size: 19px;
}
.btn_in_slider{
    padding: 16px 30px;
    background: rgb(0,112,253);
background: linear-gradient(180deg, rgba(0,112,253,1) 0%, rgba(108,31,216,1) 100%);
/*    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;*/
    color: #fff;
    font-size: 16px;
}
.btn_in_slider:hover{
    color:#eee;
}
.layer-1-4{
    margin-top: 80px;
}
.icon li.menu-search {
    position: relative;
    display: flex;
    /*vertical-align: center;*/
    top: 12px;
}
.menu-search span, .menu-search i{
    margin-top: auto;
    margin-bottom: 26px;
}
.icon li.menu-search span.sep {
    top: 0;
    width: 1px;
    height: 26px;
    background: #eaeaea;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.icon li.menu-search i {
    margin-right: 20px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    /*top: -6px;*/
    /*background: url(../img/icons/top-search-icon.png) no-repeat;*/
    opacity: 1;
    color: #FFFFFF;
    background: #b24f3c;
    padding: 6px;
    border-radius: 15px;
    height: 25px;
    width: 25px;
}
/*.header-navigation li.menu-search i:hover {
    color: #e02222;
    background-position: 0 -15px;
}*/
/*.header-navigation .fa-search:before {
	content: none;
}*/
.header-navigation .search-box {
    right: 86px;
    top: 82%;
    padding: 15px;
    display: none;
    background: #fcfafb;
    position: absolute;
    border-top: solid 2px #e4e4e4;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    width: 274px;
    margin-top: 0;
    z-index: 22;
}
.header-navigation .search-box:after {
    top: -8px;
    width: 0;
    height: 0;
    right: 8px;
    z-index: 2;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 8px solid #e4e4e4;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.header-navigation .search-box button {
    margin-left: 0 !important;
    background-color: #b24f3c;
    border-color: #0d0925;
}
.about_us h3 img{
  width: 2em;
}
.about_us h3{
  max-height: 30px;
  text-transform: uppercase;
}
.about_us p{ 
}
.about_us div.row div {
  padding: 3% 2%;
}
.about_us div.row div:hover {
    box-shadow: 0 5px 23px 10px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 5px 23px 10px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 5px 23px 10px rgba(0,0,0,.05);
    transition: 0.7s;
}
section.about{
/*  background: white url(../img/Layer-25.jpg) center center no-repeat;*/
/*  background-size: cover;
  padding: 120px 0 100px;*/
}
.blog button{
  border: 1px solid #000;
}
section.write{
  background: #EAF2F8;
  padding:90px 0 80px;
}
section.write form{
  width: 100%;
}
section.write h3{
  display: inline-block;
  margin-left: 5%;
}
section.write form input{
  padding: 1rem 2rem;
  display: inline-block;
  border: none;
}
section.write form button{
  margin-right: 5%;
  background-color: #00447D;
}
section.write .write_form_in>div{
  padding-right: 0;
  padding-left: 0;
}
footer{
  background: #00447D;
  padding:60px 0 50px;
  color: #fff;
}
.center_footer ul a{
  color: #fff;
  text-decoration: none;
}
footer .left_footer{
  margin-left: 5%;
}
footer .left_footer p{
  opacity: 0.6;
}
footer .right_footer{
  margin-right: 5%;
}
footer .left_footer img{
  width: 60%;
}
footer .center_footer ul{
  padding-right: 0;
}

footer .center_footer ul li{
  list-style: none;
  margin-bottom: 20px;
}
footer .right_footer span{
  margin-bottom: 10px;
}
.social_icons i{
  font-size: larger;
  margin-right: 30px;
  color: #fff;
}
.center_footer ul{
  padding-left:0;
}
section.blog button.btn-light{
  background-color: #fff;
  margin-top: 50px;
}
section.blog img{
 max-height: 400px;
}
section.blog .card-title{
 margin-top: 10px;
}


/* regular slider */
section.blog .card{
  border: none;
}
section.blog h2{
  margin-bottom: -5px;
}
    .slider {   
        margin: 80px 0 20px;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
/*    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }*/
    .slick-next {
    right: 0;
    top: -90px;
}
.slick-prev {
    left: 93%;
    top: -90px;
}
.slick_next {
  position: absolute;
    right: 4.3%;
    top: -90px;
    font-size: 18px;
    color: #8D8D8D;
    cursor: pointer;
}
.slick_next_bottom {
    border-radius: 50%;
    box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 1);
    padding: 0px 14px;
  position: absolute;
    right: 1.3%;
    top: -90px;
    font-size: 24px;
    color: #090909;
    cursor: pointer;
}
.slick_prev {
  position: absolute;
    left: 96%;
    font-size: 18px;
    color: #8D8D8D;
    top: -90px;
    cursor: pointer;
}
.slick_prev_bottom {
    border-radius: 50%;
    box-shadow: 0px 1px 1px 0px rgba(204, 204, 204, 1);
    padding: 0px 14px;
  position: absolute;
    left: 90%;
    font-size: 24px;
    color: #090909;
    top: -90px;
    cursor: pointer;
}

/* partners */
section.partners a{
  margin: 0 50px;
}

/*index_tab*/
section.index_tab img{
  height: 300px;
}
section.index_tab ul li .nav-link{
  font-size: 32px;
  text-transform: uppercase;
}
section.index_tab ul li.nav-item:focus{
  outline: none;
}
section.index_tab ul.nav:focus{
  outline: none;
}
section.index_tab .card{
  position: relative;
  background: #F4F4F4;
  border: none;
}
section.index_tab .card-body{
  background: #fff;
}
section.index_tab .card-title{
  text-transform: uppercase;
  font-size: 16px;
}
section.index_tab .card:hover{
  background: #DADADA;
}
section.index_tab .card:hover div.select_box{
  opacity: 1;
}

section.index_tab div.select_box{
  opacity: 0;
  position: absolute;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background: white;
}
section.index_tab div.select_box a{
 color: black;
}
section.index_tab div.select_box a:focus{
outline: none;
}
section.index_tab div.eye{
  top: 30%;
  right: 5%;
}
section.index_tab div.reload{
  top: 43%;
  right: 5%;
}
section.index_tab div.like{
  top: 56%;
  right: 5%;
}
section.index_tab div.market{
  top: 69%;
  right: 5%;
}

/*Tabs*/
section.index_tab .nav-tabs {
     border-bottom: none; 
}
section.index_tab .nav-tabs .nav-link.active {
    color: #000;
}
section.index_tab .nav-tabs .nav-link {
    border: none;
    color: #8D8D8D;
    font-weight: bold; 
}
/*section.index_tab .second_tab{
  border-left: 1px solid #000!important;
  border-top-left-radius: 0;
}*/
/*section.index_tab .second_tab:focus,section.index_tab .second_tab:hover{
  border-left: 1px solid #000!important;
  border-top-left-radius: 0;
}*/
section.index_tab .nav-tabs .nav-link:focus,section.index_tab .nav-tabs .nav-link:hover {
    border: none;
    outline: none;
}
section.index_tab .index_tab_span{
  font-family: "MontserratBold","Arial", sans-serif;
  padding-top: 8px;
  font-size: 30px;
}
.icon a{
  color: #000;
}



section.breadcrumb_area_two{
margin-bottom: 40px;
    margin-top: 10px;
}
/*Blog*/
section.breadcrumb_area_two nav{
  padding: 30px;
}
.news_cart{
    margin-bottom: 25px;
    padding: 0 10px;
    transition: 0.2s
}
.news_cart_block{
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,.1);
    overflow: hidden;
    transition: 0.2s
}
.news_cart_img, .news_cart_caption{
    border: 1px solid #e7eaf3;
    background: #fff;
    transition: 0.2s

}
.news_cart_img{
    overflow: hidden;
}
.news_cart_img img{
    transition: 0.5s
}
.news_cart_block:hover .news_cart_img img{
    transform: scale(1.05);

}
.news_cart_caption a{
    transition: 0.3s;
    color: #000;
    text-decoration: none;
}
.news_cart_caption a:hover{
    color: #00447D;
}
.news_cart_img{
    position: relative;
}
.news_img_overlay{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    background: linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    text-align: center;
    color: #fff;
    transition: 0.4s;
}
.news_cart:hover .news_img_overlay{
    opacity: 1;
}
.news_img_overlay li{
    display: inline-block;
    padding: 0 6px;
}
.news_img_overlay .fa-heart-o:hover{
    cursor: pointer;
}
.news_cart h4{
  font-size: 18px;
  font-weight: 600;
}
.news_cart_img{
    /*height: 240px;*/
}
.news_cart_caption{
    height: 150px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
}
.news_cart_divider{
    width: 100%;
    border: 1px solid #e7eaf3;
    margin-top: auto;
    margin-bottom: 10px;
}
.new_date{
    font-size: 12px;
    font-weight: 600;
    color: #b7b9bf;
    font-family: Arial, Helvetica, sans-serif;
  }


/*Onumler*/
.category_cart{
    padding: 20px;
}
.category_cart h4{
    font-weight: 600;
}
.img_block_cart_category .col-md-8 , .img_block_cart_category .col-md-4{
    height: 250px;
}
.img_block_cart_category .col-md-12{
    height: 125px;
}
.img_block_cart_category .row div{
    padding: 0 !important;
}
.img_block_cart_category .row{
    background: #fff;
    box-sizing: border-box;
    border-left: 1px solid #e7eaf3;
    border-right: 1px solid #e7eaf3;
    border-top: 1px solid #e7eaf3;
}
.ovh{
    overflow: hidden;
}
.ovh:hover img{
    transition: 0.7s;
    transform: scale(1.06);
}
.my_img2{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.my_img3{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.caption_cart{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
    height: 200px;
}
.caption_cart p{
  margin: 0;
}
.caption_cart h4{
    font-size: 18px;
  /*  margin-bottom: 20px;*/
    font-weight: 600;

}
.btn_in_detail{
    display: block;
    margin: auto auto 0 auto;
    width: 200px;
    padding: 10px 20px;
    -webkit-border-radius: 50px ;
    -moz-border-radius: 50px ;
    border-radius: 50px; ;
    border: 1px solid #00447d;
    color: #00447d;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.4s;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.btn_in_detail:hover{
    width: 195px;
    margin-bottom: 3px;
    background: #00447d;
    color: #fff;
}
.my_img2 {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


/*Onumler_detail*/
.test_slider .sliderContainer {
    position: relative;
}


.test_slider .slick-prev:before,
.test_slider .slick-next:before {
    color: black;
}

.test_slider .slick-dots {
    bottom: -30px;
}


.test_slider .progressBarContainer {
    display: flex;
    position: absolute;
    bottom: 20px;
    width:100%;
    left:0;
}

.test_slider .progressBarContainer .center_blocks {
    margin: auto;
    display: block;
    padding: 0;
    cursor: pointer;
    color: #000;
}
.my_dot{
    overflow: hidden;
    height: 50px;
    float: left;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #f26d2e;
}
.test_slider .progressBarContainer div span.progressBar {
    width: 100%;
    height: 4px;
    background-color: #f1f5fb;
    display: block;
}

.test_slider .progressBarContainer div span.progressBar .inProgress {
    background-color: green;
    width: 0%;
    height: 4px;
}

.dot_img{
    border-radius: 50%;
}
.divider_product_detail{
    border: 1px solid #c7cbd0;
    margin: 70px 0;
}
.product_additional_block li {
    list-style: disc;
    line-height: 24px;
    color: #77839d;
    font-size: 17px;
}
.product_content_block{
    color: #77839d;
    font-size: 17px;
}
.product_content_block p{
    line-height: 1.8;
}
.product_additional_block p{
    line-height: 1.8;
}

/*PAGE START*/
.bg-color1{
    background-color: #eae6e1;
}
.bg-color2{
    background-color: #f4f1ee;
}
.bg-color3{
    background-color: #56f3e5;
}
.function_box{
    position: relative;
    outline: 1px solid #eee;
    height: 270px;
}
.overlay_function_box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.overlay_function_box_top{
    height: 0;
    background: #00447D;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.overlay_function_box_bottom{
    height: 0;
    background: #00447D;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
@keyframes stor {
    from {height: 0;
        color: #000;}
    to {height: 50%;
        color: #FFF;}
}
@keyframes stor2 {
    from {top:53%;height: 0;color: rgb(0,0,0);}
    to {top:0;height: 53%;color: rgb(255,255,255);}
}
.function_box:hover .overlay_function_box_bottom{
    animation: stor 0.5s;
    height: 50%;
    color: #fff;
}
.function_box:hover .box-body-content{
    color: #fff;
    transition: 0.5s;
}
.function_box:hover .overlay_function_box_top {
    animation: stor2 0.5s;
    height: 50%;
    top: 0;
}
.function_box:hover .box-body-img{
    color:#fff;
    transition: 0.5s;
}
.function_box:hover h3{
    color:#fff;
    transition: 0.5s;
}
.box-body{
    position: relative;
    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 20px 7px 0 17px;
    align-content: space-between;
}
.box-body-img{
    font-size: 45px;
    color:#00447D;
    margin-top: auto;
    margin-bottom: 10px;
}
.box-body-content{
    padding: 21px 0 0;
}
.box-body-content h3{
    text-transform: uppercase;
}
.pd-50{
  padding: 50px;
}


.see_all_btn {
   color: black;
   text-decoration: none;
}

.see_all_btn:hover {
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}



.language_box{
    margin-top: -30px;
}
.language_box ul.dropdown-menu{
    background-color: #00467a;
    padding-left: 10px;
}
.language_box li.language-switcher{
    list-style: none;
}
.language_box ul.dropdown-menu a:hover{
    color: #fff;
}



/*Paginatio*/

.blog-post-pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog-post-pagination a {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #F3F3F3;
  line-height: 52px;
  text-align: center;
  font-size: 18px;
  color: #2e3d62;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  font-weight: 600;
}
.blog-post-pagination a.prev, .blog-post-pagination a.next {
  background: #2e3d62;
  color: #fff;
  font-size: 14px;
}
.blog-post-pagination a.active {
  cursor: auto;
}
.blog-post-pagination a.active, .blog-post-pagination a:hover {
  background: #2e3d62;
  color: #fff;
}
.blog-post-pagination a + a {
  margin-left: 10px;
}


/*View_product*/
.test_slider{
  padding-bottom: 70px;
}

/*View_blog*/
.img_blog{
  width: auto;
  height: 70vh;
}

/*About*/
.about_us_function_container{
  margin-bottom: 80px;
}


/* Contact */ 
  .contact_info{
    height: 550px;
    padding: 50px 40px;
    color: #fff;
}
.contact_info .row{
    margin-bottom: 20px;
}
.contact_form{
    padding: 60px 60px;
}
.contact_form input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background: #f1f6fc;
    font-size: 16px;
    padding: 25px 17px;
}
.contact_form input:active, .contact_form input:focus{
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
}
.contact_form textarea{
    border: none;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f1f6fc;
}
.contact_form textarea:focus{
    border: 1px solid #000 !important;
    box-shadow: none !important;
}
.contact_form p{
    font-size: 14px;
}
.btn_send{
    margin-top: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1273eb;
    padding: 17px 30px;
    font-size: 16px;
    transition: 0.4s;
}
.btn_send:hover{
    background: #1273ebc9;
    color: #fff;
}
.contact_icons svg{
    height: 30px;
    width: 45px;
}
.contact{
    background: #f1f5fb;
    padding: 100px 0;
    position: relative;
}
.contact .container{
    position: relative;
}

/*search*/
.call_btn{
  background-color: inherit;
  border: none;
  z-index: 16;
}
.search{
  display: none;
  position: fixed;
  top: 18%;
  right: 3%;
  width: 20%;
  height: 40px;
  border-radius: 10px!important;
  color: #00447D;
  border: 1px solid #00447D;
  background-color: #fff;
  padding: 0 10px;
  z-index: 15;
}
.search:focus{
  outline: none;
}
.search_submit{
  display: none;
  position: fixed;
  top: 18%;
  right: 3%;
  width: 8%;
  height: 40px;
  border-radius: 10px!important;
  color: #fff;
  background-color: #00447D;
  border: none;
  padding: 0 10px;
  z-index: 15;
}
#hide{
  display: none;
}
ul.lang_ul{
  list-style: none;
  margin: 38px 0 10px 0;
}
ul.lang_ul li{
  display: inline-block;
}
.parallax {
  /* The image used */
  background-image: url("../img/Layer-25.jpg");


  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}