/* options */
@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.eot');
    src: url('../fonts/GothamMedium.eot') format('embedded-opentype'),
         url('../fonts/GothamMedium.woff2') format('woff2'),
         url('../fonts/GothamMedium.woff') format('woff'),
         url('../fonts/GothamMedium.ttf') format('truetype'),
         url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
}
@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot') format('embedded-opentype'),
         url('../fonts/GothamBold.woff2') format('woff2'),
         url('../fonts/GothamBold.woff') format('woff'),
         url('../fonts/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold.svg#GothamBold') format('svg');
}
body {
    font-family: "GothamMedium","Arial", sans-serif;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "GothamBold","Arial", sans-serif;
   /* color: #000;*/
}
ul.navbar-nav li.nav-item a.nav-link {
  font-weight: bolder;
  color: #000;
} 
section{
  margin-bottom: 120px;
}
/* options end */

header{
  background-color: #00467A;
}
header p{
  display: inline-block;
  margin-right: 10%;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
header div.lang_img img{
  width: 30px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.nav .dropdown{
  display: inline-block;
}
.nav ul{
  display: inline-block;
}
.nav ul li{
  display: inline-block;
  text-decoration: none;
}
.nav button.lang{
  border: none;
  background-color: none;
}
.nav .dropdown-menu{
  background-color: none;
}
ul.dropdown-menu {
  border: none;
  background: #fff;
}
.icon i{
  margin-left:40px;
}
.logo img{
  width: 100%;
}
/*.carousel-inner .carousel-item{
  height: 70vh;
}*/
.corusel_top_img{
  width: 100%;
  height: 70vh;
}
.carousel-inner .carousel-caption{
  text-align: left;
}

.slider_text_block h1{
    font-size:400%;
    font-weight: 600;
    color:#fff;
}
.slider_text_block p{
    color:#fff;
    font-size: 19px;
}
.btn_in_slider{
    padding: 8px 15px;
    background: rgb(0,112,253);
background: linear-gradient(180deg, rgba(0,112,253,1) 0%, rgba(108,31,216,1) 100%);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color: #fff;
    font-size: 18px;
}
.btn_in_slider:hover{
    color:#eee;
}
.layer-1-4{
    margin-top: 80px;
}
.icon li.menu-search {
    position: relative;
    display: flex;
    /*vertical-align: center;*/
    top: 12px;
}
.menu-search span, .menu-search i{
    margin-top: auto;
    margin-bottom: 26px;
}
.icon li.menu-search span.sep {
    top: 0;
    width: 1px;
    height: 26px;
    background: #eaeaea;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.icon li.menu-search i {
    margin-right: 20px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    /*top: -6px;*/
    /*background: url(../img/icons/top-search-icon.png) no-repeat;*/
    opacity: 1;
    color: #FFFFFF;
    background: #b24f3c;
    padding: 6px;
    border-radius: 15px;
    height: 25px;
    width: 25px;
}
/*.header-navigation li.menu-search i:hover {
    color: #e02222;
    background-position: 0 -15px;
}*/
/*.header-navigation .fa-search:before {
	content: none;
}*/
.header-navigation .search-box {
    right: 86px;
    top: 82%;
    padding: 15px;
    display: none;
    background: #fcfafb;
    position: absolute;
    border-top: solid 2px #e4e4e4;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    width: 274px;
    margin-top: 0;
    z-index: 22;
}
.header-navigation .search-box:after {
    top: -8px;
    width: 0;
    height: 0;
    right: 8px;
    z-index: 2;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 8px solid #e4e4e4;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.header-navigation .search-box button {
    margin-left: 0 !important;
    background-color: #b24f3c;
    border-color: #0d0925;
}
.about_us h3 img{
  width: 2em;
}
.about_us h3{
  max-height: 30px;
}
section.about{
  background: white url(../img/Layer-25.jpg) center center no-repeat;
  background-size: cover;
  padding: 120px 0 100px;
}
.blog button{
  border: 1px solid #000;
}
section.write{
  background: #EAF2F8;
  padding:120px 0 100px;
}
section.write form{
  width: 100%;
}
section.write h3{
  display: inline-block;
  margin-left: 5%;
}
section.write form input{
  display: inline-block;
}
section.write form button{
  margin-right: 5%;
}
section.write .write_form_in>div{
  padding-right: 0;
  padding-left: 0;
}
footer{
  background: #00447D;
  padding:60px 0 50px;
  color: #fff;
}
.center_footer ul a{
  color: #fff;
  text-decoration: none;
}
footer .left_footer{
  margin-left: 5%;
}
footer .right_footer{
  margin-right: 5%;
}
footer .left_footer img{
  width: 60%;
}
footer .center_footer ul{
  padding-right: 0;
}

footer .center_footer ul li{
  list-style: none;
  margin-bottom: 20px;
}
footer .right_footer span{
  margin-bottom: 10px;
}
.social_icons i{
  font-size: larger;
  margin-right: 30px;
  color: #fff;
}
.center_footer ul{
  padding-left:0;
}
section.blog button.btn-light{
  margin-top: 50px;
}
section.blog img{
 max-height: 400px;
}

/* regular slider */
section.blog .card{
  border: none;
}
    .slider {   
        margin: 100px 0;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
/*    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }*/
    .slick-next {
    right: 0;
    top: -90px;
}
.slick-prev {
    left: 93%;
    top: -90px;
}
.slick_next {
  position: absolute;
    right: 4.3%;
    top: -90px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}
.slick_next_bottom {
  position: absolute;
    right: 1.3%;
    top: -90px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}
.slick_prev {
  position: absolute;
    left: 96%;
    font-size: 24px;
    color: #ccc;
    top: -90px;
    cursor: pointer;
}
.slick_prev_bottom {
  position: absolute;
    left: 96%;
    font-size: 24px;
    color: #ccc;
    top: -90px;
    cursor: pointer;
}

/* partners */
section.partners a{
  margin: 0 50px;
}

/*index_tab*/
section.index_tab img{
  height: 300px;
}
section.index_tab .card{
  position: relative;
  background: #F4F4F4;
  border: none;
}
section.index_tab .card-body{
  background: #fff;
}
section.index_tab .card:hover{
  background: #DADADA;
}
section.index_tab .card:hover div.select_box{
  opacity: 1;
}

section.index_tab div.select_box{
  opacity: 0;
  position: absolute;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background: white;
}
section.index_tab div.select_box a{
 color: black;
}
section.index_tab div.select_box a:focus{
outline: none;
}
section.index_tab div.eye{
  top: 30%;
  right: 5%;
}
section.index_tab div.reload{
  top: 43%;
  right: 5%;
}
section.index_tab div.like{
  top: 56%;
  right: 5%;
}
section.index_tab div.market{
  top: 69%;
  right: 5%;
}

/*Tabs*/
section.index_tab .nav-tabs {
     border-bottom: none; 
}
section.index_tab .nav-tabs .nav-link.active {
    color: #000;
    font-weight: bold;
    border: none; 
}
section.index_tab .second_tab{
  border-left: 1px solid #000!important;
  border-top-left-radius: 0;
}
section.index_tab .second_tab:focus,section.index_tab .second_tab:hover{
  border-left: 1px solid #000!important;
  border-top-left-radius: 0;
}
section.index_tab .nav-tabs .nav-link:focus,section.index_tab .nav-tabs .nav-link:hover {
    border: none;
    outline: none;
}
.icon a{
  color: #000;
}



section.breadcrumb_area_two{
margin-bottom: 40px;
    margin-top: 10px;
}
/*Blog*/
section.breadcrumb_area_two nav{
  padding: 30px;
}
.news_cart{
    margin-bottom: 25px;
    padding: 0 10px;
    transition: 0.2s
}
.news_cart_block{
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,.1);
    overflow: hidden;
    transition: 0.2s
}
.news_cart_img, .news_cart_caption{
    border: 1px solid #e7eaf3;
    background: #fff;
    transition: 0.2s

}
.news_cart_img{
    overflow: hidden;
}
.news_cart_img img{
    transition: 0.5s
}
.news_cart_block:hover .news_cart_img img{
    transform: scale(1.05);

}
.news_cart_caption a{
    transition: 0.3s;
    color: #000;
    text-decoration: none;
}
.news_cart_caption a:hover{
    color: #00447D;
}
.news_cart_img{
    position: relative;
}
.news_img_overlay{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
    background: linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    text-align: center;
    color: #fff;
    transition: 0.4s;
}
.news_cart:hover .news_img_overlay{
    opacity: 1;
}
.news_img_overlay li{
    display: inline-block;
    padding: 0 6px;
}
.news_img_overlay .fa-heart-o:hover{
    cursor: pointer;
}
.news_cart h4{
    font-weight: 600;
}
.news_cart_img{
    height: 240px;
}
.news_cart_caption{
    height: 150px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
}
.news_cart_divider{
    width: 100%;
    border: 1px solid #e7eaf3;
    margin-top: auto;
    margin-bottom: 10px;
}
.new_date{
    font-size: 16px;
    font-weight: 600;
    color: #b7b9bf;
    font-family: Arial, Helvetica, sans-serif;
  }


/*Onumler*/
.category_cart{
    padding: 20px;
}
.category_cart h4{
    font-weight: 600;
}
.img_block_cart_category .col-md-8 , .img_block_cart_category .col-md-4{
    height: 250px;
}
.img_block_cart_category .col-md-12{
    height: 125px;
}
.img_block_cart_category .row div{
    padding: 0 !important;
}
.img_block_cart_category .row{
    background: #fff;
    box-sizing: border-box;
    border-left: 1px solid #e7eaf3;
    border-right: 1px solid #e7eaf3;
    border-top: 1px solid #e7eaf3;
}
.ovh{
    overflow: hidden;
}
.ovh:hover img{
    transition: 0.7s;
    transform: scale(1.06);
}
.my_img2{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.my_img3{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.caption_cart{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
    height: 200px;
}
.caption_cart h4{
    font-size: 18px;
  /*  margin-bottom: 20px;*/
    font-weight: 600;

}
.btn_in_detail{
    display: block;
    margin: auto auto 0 auto;
    width: 200px;
    padding: 10px 20px;
    -webkit-border-radius: 50px ;
    -moz-border-radius: 50px ;
    border-radius: 50px; ;
    border: 1px solid #f26522;
    color: #f26522;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.4s;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.btn_in_detail:hover{
    width: 195px;
    margin-bottom: 3px;
    background: #f26522;
    color: #fff;
}
.my_img2 {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


/*Onumler_detail*/
.test_slider .sliderContainer {
    position: relative;
}


.test_slider .slick-prev:before,
.test_slider .slick-next:before {
    color: black;
}

.test_slider .slick-dots {
    bottom: -30px;
}


.test_slider .progressBarContainer {
    display: flex;
    position: absolute;
    bottom: 20px;
    width:100%;
    left:0;
}

.test_slider .progressBarContainer .center_blocks {
    margin: auto;
    display: block;
    padding: 0;
    cursor: pointer;
    color: #000;
}
.my_dot{
    overflow: hidden;
    height: 50px;
    float: left;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #f26d2e;
}
.test_slider .progressBarContainer div span.progressBar {
    width: 100%;
    height: 4px;
    background-color: #f1f5fb;
    display: block;
}

.test_slider .progressBarContainer div span.progressBar .inProgress {
    background-color: green;
    width: 0%;
    height: 4px;
}

.dot_img{
    border-radius: 50%;
}
.divider_product_detail{
    border: 1px solid #c7cbd0;
    margin: 70px 0;
}
.product_additional_block li {
    list-style: disc;
    line-height: 24px;
    color: #77839d;
    font-size: 17px;
}
.product_content_block{
    color: #77839d;
    font-size: 17px;
}
.product_content_block p{
    line-height: 1.8;
}
.product_additional_block p{
    line-height: 1.8;
}

/*PAGE START*/
.bg-color1{
    background-color: #eae6e1;
}
.bg-color2{
    background-color: #f4f1ee;
}
.bg-color3{
    background-color: #56f3e5;
}
.function_box{
    position: relative;
    outline: 1px solid #eee;
    height: 270px;
}
.overlay_function_box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.overlay_function_box_top{
    height: 0;
    background: #f56827;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.overlay_function_box_bottom{
    height: 0;
    background: #f56827;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
@keyframes stor {
    from {height: 0;
        color: #000;}
    to {height: 50%;
        color: #FFF;}
}
@keyframes stor2 {
    from {top:53%;height: 0;color: rgb(0,0,0);}
    to {top:0;height: 53%;color: rgb(255,255,255);}
}
.function_box:hover .overlay_function_box_bottom{
    animation: stor 0.5s;
    height: 50%;
    color: #fff;
}
.function_box:hover .box-body-content{
    color: #fff;
    transition: 0.5s;
}
.function_box:hover .overlay_function_box_top {
    animation: stor2 0.5s;
    height: 50%;
    top: 0;
}
.function_box:hover .box-body-img{
    color:#fff;
    transition: 0.5s;
}
.function_box:hover h3{
    color:#fff;
    transition: 0.5s;
}
.box-body{
    position: relative;
    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 20px 7px 0 17px;
    align-content: space-between;
}
.box-body-img{
    font-size: 45px;
    color:#f56827;
    margin-top: auto;
    margin-bottom: 10px;
}
.box-body-content{
    padding: 21px 0 0;
}
.box-body-content h3{
    text-transform: uppercase;
}
.pd-50{
  padding: 50px;
}


.see_all_btn {
   color: black;
   text-decoration: none;
}

.see_all_btn:hover {
    color: #000;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}



.language_box{
    margin-top: -30px;
}
.language_box ul.dropdown-menu{
    background-color: #00467a;
    padding-left: 10px;
}
.language_box li.language-switcher{
    list-style: none;
}
.language_box ul.dropdown-menu a:hover{
    color: #fff;
}



/*Paginatio*/

.blog-post-pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog-post-pagination a {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #F3F3F3;
  line-height: 52px;
  text-align: center;
  font-size: 18px;
  color: #2e3d62;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  font-weight: 600;
}
.blog-post-pagination a.prev, .blog-post-pagination a.next {
  background: #2e3d62;
  color: #fff;
  font-size: 14px;
}
.blog-post-pagination a.active {
  cursor: auto;
}
.blog-post-pagination a.active, .blog-post-pagination a:hover {
  background: #ff8257;
  color: #2e3d62;
}
.blog-post-pagination a + a {
  margin-left: 10px;
}


/*View_product*/
.test_slider{
  padding-bottom: 70px;
}

/*View_blog*/
.img_blog{
  width: 100%;
  height: 100%;
}

/*About*/
.about_us_function_container{
  margin-bottom: 80px;
}

/* Contact */ 
  .contact_info{
    height: 550px;
    padding: 50px 40px;
    color: #fff;
}
.contact_info .row{
    margin-bottom: 20px;
}
.contact_form{
    padding: 60px 60px;
}
.contact_form input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    outline: none;
    background: #f1f6fc;
    font-size: 16px;
    padding: 25px 17px;
}
.contact_form input:active, .contact_form input:focus{
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
}
.contact_form textarea{
    border: none;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f1f6fc;
}
.contact_form textarea:focus{
    border: 1px solid #000 !important;
    box-shadow: none !important;
}
.contact_form p{
    font-size: 14px;
}
.btn_send{
    margin-top: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1273eb;
    padding: 17px 30px;
    font-size: 16px;
    transition: 0.4s;
}
.btn_send:hover{
    background: #1273ebc9;
    color: #fff;
}
.contact_icons svg{
    height: 30px;
    width: 45px;
}
.contact{
    background: #f1f5fb;
    padding: 100px 0;
    position: relative;
}
.contact .container{
    position: relative;
}

/*search*/
.call_btn{
  background-color: inherit;
  border: none;
  z-index: 16;
}
.search{
  display: none;
  position: fixed;
  top: 18%;
  right: 3%;
  width: 20%;
  height: 40px;
  border-radius: 10px!important;
  color: #fff;
  background-color: #00447D;
  border: none;
  padding: 0 10px;
  z-index: 15;
}
.search_submit{
  display: none;
  position: fixed;
  top: 18%;
  right: 3%;
  width: 8%;
  height: 40px;
  border-radius: 10px!important;
  color: #fff;
  background-color: #00447D;
  border: none;
  padding: 0 10px;
  z-index: 15;
}
#hide{
  display: none;
}